* {
  -GtkScrollbar-has-backward-stepper: true;
  -GtkScrollbar-has-forward-stepper: true;
  -GtkScrollbar-has-secondary-backward-stepper: false;
  -GtkScrollbar-has-secondary-forward-stepper: false;
  -GtkScrolledwindow-scrollbar-spacing: 0;
  -GtkScrolledwindow-scrollbars-within-bevel: 1;
  -GtkTextView-error-underline-color: @error_color;
  -GtkToolbutton-icon-spacing: 6;
  -GtkToolItemGroup-expander-size: 11;
  -GtkWidget-text-handle-width: 20;
  -GtkWidget-text-handle-height: 20;
  -GtkDialog-button-spacing: 10;
  -GtkDialog-action-area-border: 0;
  -GtkTreeview-expander-size: 8;
  background-clip: padding-box;
  outline-width: 1px;
  outline-offset: 0;
  outline-style: solid;
  outline-color: @outline_color;
  -gtk-outline-radius: 0; }

.background {
  color: @theme_fg_color;
  background-color: @theme_bg_color; }
  .background:backdrop {
    color: @theme_unfocused_fg_color;
    background-color: @theme_bg_color; }

*:disabled {
  -gtk-icon-effect: dim; }
*:hover {
  -gtk-icon-effect: highlight; }


.gtkstyle-fallback {
  color: @theme_fg_color;
  background-color: @theme_bg_color; }
  .gtkstyle-fallback:hover {
    color: @theme_fg_color;
    background-color: shade(@theme_bg_color, 1.1); }
  .gtkstyle-fallback:active {
    color: @theme_fg_color;
    background-color: shade(@theme_bg_color, 0.9); }
  .gtkstyle-fallback:disabled {
    color: @theme_disabled_fg_color;
    background-color: @theme_disabled_bg_color; }
  .gtkstyle-fallback:selected {
    color: @theme_selected_fg_color;
    background-color: @theme_selected_bg_color; }

/* link */

.link {
  color: @selected_bg_color;
}

button:link > label,
button:visited > label {
text-decoration-line: underline; }

button:link > label,
button:visited > label, *:link, button:link,
button:visited {
color: @selected_bg_color; }

/* link */

image, image:disabled, label, label:disabled, box, box:disabled {
  background-color: transparent; }

image:disabled {
  color: alpha(currentColor, 0.5); }

undershoot.top, undershoot.right, undershoot.bottom, undershoot.left { background-image: none; }

/* app notifications and info bars */

infobar {
  border: none; }

.info {
  border-width: 1px;
  border-style: solid;
  border-color: shade(@info_bg_color, 0.8);
  color: @info_fg_color;
  background-image: none;
  background-color: @info_bg_color; }
  .info button {
    border-color: shade(@info_bg_color, 0.8);
    color: @info_fg_color;
    background-image: none;
    background-color: shade(@info_bg_color, 1.08); }
    .info button:hover {
      border-color: shade(@info_bg_color, 0.85);
      background-color: shade(@info_bg_color, 1.1); }
    .info button:active {
      border-color: shade(@info_bg_color, 0.6);
      background-color: shade(@info_bg_color, 0.95); }
      .info button:active:hover {
        border-color: shade(@info_bg_color, 0.85); }
    .info button.close {
      color: @info_fg_color; }
      .info button.close:hover {
        background-color: alpha(@light_shadow, 0.2); }
      .info button.close:active {
        color: @info_fg_color;
        background-color: alpha(@dark_shadow, 0.1); }

.warning {
  border-width: 1px;
  border-style: solid;
  border-color: shade(@warning_bg_color, 0.8);
  color: @warning_fg_color;
  background-image: none;
  background-color: @warning_bg_color; }
  .warning button {
    border-color: shade(@warning_bg_color, 0.8);
    color: @warning_fg_color;
    background-image: none;
    background-color: shade(@warning_bg_color, 1.08); }
    .warning button:hover {
      border-color: shade(@warning_bg_color, 0.85);
      background-color: shade(@warning_bg_color, 1.1); }
    .warning button:active {
      border-color: shade(@warning_bg_color, 0.6);
      background-color: shade(@warning_bg_color, 0.95); }
      .warning button:active:hover {
        border-color: shade(@warning_bg_color, 0.85); }
    .warning button.close {
      color: @warning_fg_color; }
      .warning button.close:hover {
        background-color: alpha(@light_shadow, 0.2); }
      .warning button.close:active {
        color: @warning_fg_color;
        background-color: alpha(@dark_shadow, 0.1); }

.question {
  border-width: 1px;
  border-style: solid;
  border-color: shade(@question_bg_color, 0.8);
  color: @question_fg_color;
  background-image: none;
  background-color: @question_bg_color; }
  .question button {
    border-color: shade(@question_bg_color, 0.8);
    color: @question_fg_color;
    background-image: none;
    background-color: shade(@question_bg_color, 1.08); }
    .question button:hover {
      border-color: shade(@question_bg_color, 0.85);
      background-color: shade(@question_bg_color, 1.1); }
    .question button:active {
      border-color: shade(@question_bg_color, 0.6);
      background-color: shade(@question_bg_color, 0.95); }
      .question button:active:hover {
        border-color: shade(@question_bg_color, 0.85); }
    .question button.close {
      color: @question_fg_color; }
      .question button.close:hover {
        background-color: alpha(@light_shadow, 0.2); }
      .question button.close:active {
        color: @question_fg_color;
        background-color: alpha(@dark_shadow, 0.1); }

.error {
  border-width: 1px;
  border-style: solid;
  border-color: shade(@error_bg_color, 0.8);
  background-color: @error_bg_color;
  background-image: none;
  color: @error_fg_color; }
  .error button {
    border-color: shade(@error_bg_color, 0.8);
    color: @error_fg_color;
    background-image: none;
    background-color: shade(@error_bg_color, 1.08); }
    .error button:hover {
      border-color: shade(@error_bg_color, 0.85);
      background-color: shade(@error_bg_color, 1.1); }
    .error button:active {
      border-color: shade(@error_bg_color, 0.6);
      background-color: shade(@error_bg_color, 0.95); }
      .error button:active:hover {
        border-color: shade(@error_bg_color, 0.85); }
    .error button.close {
      color: @error_fg_color; }
      .error button.close:hover {
        background-color: alpha(@light_shadow, 0.2); }
      .error button.close:active {
        color: @error_fg_color;
        background-color: alpha(@dark_shadow, 0.1); }

.app-notification {
    padding: 3px;
    border-top: 1px solid @bg_color;
    border-bottom: 1px solid @borders;
    border-left: 1px solid @bg_color;
    border-right: 1px solid @borders;
    box-shadow: inset 1px 1px @light_shadow, inset -1px -1px shade(@bg_color, 0.7);
    background-color: @tooltip_bg_color;
    color: @fg_color;
}

popover {
  padding: 0;
}

popover :focus {
outline: none;
border: none;
}

popover :hover {
    background-color: @theme_selected_bg_color;
    color: @theme_selected_fg_color;
}

popover :disabled {
    color: @disabled_fg_color;
    text-shadow: 1px 1px @light_shadow;
}

popover  label {
padding: 3px;
}

button {
  padding: 4px 6px 4px 6px;
  border-radius: 0px;
  color: @theme_fg_color;
    border-top: 1px solid @button_bg_color;
    border-left: 1px solid @button_bg_color;
    border-right: 1px solid @borders;
    border-bottom: 1px solid @borders;
    border-radius: 0px;
    background-color: @button_bg_color;
    box-shadow: inset -1px 0 shade(@button_bg_color, 0.65), inset 0 -1px shade(@button_bg_color, 0.65), inset 1px 0 @light_shadow, inset 0 1px @light_shadow;
  outline-color: @theme_fg_color;
  outline-offset: -1px;
  outline-style: solid; }
  button:active {
    color: @theme_fg_color;
    box-shadow: 1px 1px shade(@button_bg_color, 0.7) inset, -1px -1px shade(@button_bg_color, 0.9) inset;
    border-color: @borders;
    background-color: @button_bg_color;
}
  button:checked {
    color: @theme_fg_color;
    box-shadow: 1px 1px shade(@button_bg_color, 0.7) inset, -1px -1px shade(@button_bg_color, 0.9) inset;
    border-color: @borders;
    background-color: @button_bg_color;
}
    button:checked:disabled {
      color: mix(@theme_fg_color, @theme_unfocused_disabled_fg_color, 0.1);
      text-shadow: 1px 1px @light_shadow;
      border-color: mix(@theme_fg_color, @theme_disabled_bg_color, 0.85);
      background-color: shade(@theme_disabled_bg_color, 0.9); }
  button:disabled {
    text-shadow: 1px 1px @light_shadow;
    color: @disabled_fg_color }

button.flat {
  border-color: transparent;
  border-radius: 2px;
  color: @theme_fg_color;
  box-shadow: none;
  background-color: transparent; }
button.flat:hover {
      color: @toolbar_fg_color;
  border-color: @button_bg_color;
      background-color: @button_bg_color;
      box-shadow: inset -1px -1px shade(@button_bg_color, 0.65), inset 1px 1px @light_shadow; }
button.flat:active {
      color: @toolbar_fg_color;
  border-color: @button_bg_color;
      background-color: @button_bg_color;
      background-image: none;
      box-shadow: inset 1px 1px shade(@button_bg_color, 0.65), inset -1px -1px @light_shadow; }
button.flat:checked {
      border-top: 1px solid shade(@button_bg_color, 0.7);
      border-left: 1px solid shade(@button_bg_color, 0.7);
      border-bottom: 1px solid @light_shadow;
      border-right: 1px solid @light_shadow;
      box-shadow: -1px -1px @button_bg_color inset;
      background-image: url("assets/scrollbg.png");
      color: @toolbar_fg_color;
      background-color: @button_bg_color;
      }
button.flat:disabled {
  text-shadow: 1px 1px @light_shadow;
  border-color: transparent;
  border-radius: 2px;
  color: @disabled_fg_color;
  box-shadow: none;
  background-color: transparent; }


checkbutton.text-button :disabled, radiobutton.text-button :disabled {
  color: @disabled_fg_color;
  text-shadow: 1px 1px @light_shadow;
  outline-offset: 0; }
/*
checkbutton {
  padding: 4px; }
  checkbutton:hover, checkbutton:active:hover {
    padding: 4px;
    border-style: none;
    background-color: transparent; }
  checkbutton:selected {
    padding: 4px;
    border-style: none;
    background-color: transparent; }
    checkbutton:selected:focus {
      padding: 4px;
      border-style: none;
      background-color: transparent; }

view.content-view check, .content-view.view check {
  background-color: transparent; }
  view.content-view check:active, .content-view.view check:active {
    background-color: transparent; }
*/
view.content-view check:hover, view.content-view check:disabled, view.content-view check:selected {
  background-color: transparent; }

check, radio, check:disabled, radio:disabled {
  margin: 4px;
  border-style: none;
  background-color: transparent; }

check, .check {
  -gtk-icon-source: -gtk-scaled(url("assets/checkbox-unchecked.png"), url("assets/checkbox-unchecked@2.png")); }
  check:disabled, .check:disabled {
    -gtk-icon-source: -gtk-scaled(url("assets/checkbox-unchecked-insensitive.png"), url("assets/checkbox-unchecked-insensitive@2.png")); }
  check:active, check:checked, .check:active, .check:checked {
    -gtk-icon-source: -gtk-scaled(url("assets/checkbox-checked.png"), url("assets/checkbox-checked@2.png")); }
    check:active:disabled, check:checked:disabled, .check:active:disabled, .check:checked:disabled {
      -gtk-icon-source: -gtk-scaled(url("assets/checkbox-checked-insensitive.png"), url("assets/checkbox-checked-insensitive@2.png")); }
  check:indeterminate, .check:indeterminate {
    -gtk-icon-source: -gtk-scaled(url("assets/checkbox-mixed.png"), url("assets/checkbox-mixed@2.png")); }
    check:indeterminate:disabled, .check:indeterminate:disabled {
      -gtk-icon-source: -gtk-scaled(url("assets/checkbox-mixed-insensitive.png"), url("assets/checkbox-mixed-insensitive@2.png")); }

radio, .radio {
  -gtk-icon-source: -gtk-scaled(url("assets/radio-unchecked.png"), url("assets/radio-unchecked@2.png")); }
  radio:disabled, .radio:disabled {
    -gtk-icon-source: -gtk-scaled(url("assets/radio-unchecked-insensitive.png"), url("assets/radio-unchecked-insensitive@2.png")); }
  radio:active, radio:checked, .radio:active, .radio:checked {
    -gtk-icon-source: -gtk-scaled(url("assets/radio-checked.png"), url("assets/radio-checked@2.png")); }
    radio:active:disabled, radio:checked:disabled, .radio:active:disabled, .radio:checked:disabled {
      -gtk-icon-source: -gtk-scaled(url("assets/radio-checked-insensitive.png"), url("assets/radio-checked-insensitive@2.png")); }
  radio:indeterminate, .radio:indeterminate {
    -gtk-icon-source: -gtk-scaled(url("assets/radio-mixed.png"), url("assets/radio-mixed@2.png")); }
    radio:indeterminate:disabled, .radio:indeterminate:disabled {
      -gtk-icon-source: -gtk-scaled(url("assets/radio-mixed-insensitive.png"), url("assets/radio-mixed-insensitive@2.png")); }


menuitem check, menuitem radio {
  min-height: 16px;
  min-width: 16px; }

.content-view.view {
  background-color: @theme_base_color; }
  .content-view.view:hover {
    background-color: alpha(@theme_selected_bg_color, 0.6); }
  .content-view.view:selected, .content-view.view:active {
    background-color: @theme_selected_bg_color; }
  .content-view.view:disabled {
    background-color: shade(@theme_base_color, 0.9); }

calendar {
  padding: 2px;
  border-width: 1px;
  border-radius: 0px;
  border-style: solid;
  border-color: @borders;
  color: @theme_text_color; }
  calendar.header {
    border: none;
    color: @theme_selected_bg_color; }
  calendar.button {
    color: @theme_selected_bg_color; }
  calendar:selected {
    border-radius: 0;
    color: @theme_selected_fg_color;
    background-color: @theme_selected_bg_color; }
  calendar:indeterminate {
    color: alpha(currentColor, 0.55); }
  calendar.highlight {
    color: @theme_selected_bg_color; }

entry {
  padding: 3px;
  border: 1px solid;
  border-color: shade(@button_bg_color, 0.7);
  border-bottom: 1px solid @light_shadow;
  border-right: 1px solid @light_shadow;
  border-radius: 0px;
  box-shadow: 1px 1px shade(@bg_color, 0.2) inset, -1px -1px @bg_color inset;
  color: @theme_text_color;
  caret-color: @theme_text_color;
  background-color: @theme_base_color; }
  entry:selected, entry:selected:focus, entry selection, entry selection:focus {
    color: @theme_selected_fg_color;
    background-color: @theme_selected_bg_color; }
  entry:disabled {
    background-color: @bg_color;
    color: @theme_disabled_text_color; }
  entry.read-only {
    background-color: mix(@theme_bg_color, @theme_disabled_bg_color, 0.1); }

  entry > image.left {
    padding-right: 5px; }
  entry > image.right {
    padding-left: 5px; }

expander arrow {
  min-width: 16px;
  min-height: 16px;
  -gtk-icon-source: -gtk-icontheme("pan-end-symbolic"); }
  expander arrow:dir(rtl) {
    -gtk-icon-source: -gtk-icontheme("pan-end-symbolic-rtl"); }
  expander arrow:hover {
    color: @theme_selected_bg_color; }
  expander arrow:checked {
    -gtk-icon-source: -gtk-icontheme("pan-down-symbolic"); }


list {
  color: @theme_text_color;
  background-color: @theme_base_color;
  color: @text_color;
  background-color: @theme_base_color; }
  list row {
    outline: none;
    border: none;
    padding: 2px; }
    list row:selected, list row:selected:hover, list row:selected:focus {
      border: none;
      color: @theme_selected_fg_color;
      background-color: @theme_selected_bg_color; }
    list row:selected:disabled {
      color: alpha(@theme_selected_fg_color, 0.7);
      background-color: @theme_selected_bg_color; }
    list row:selected:backdrop {
      color: @theme_unfocused_selected_fg_color;
      background-color: @theme_unfocused_selected_bg_color; }
  list separator, list separator:backdrop {
    background: none; }




.sidebar list {
  padding: 1px;
  border: 1px solid shade(@theme_bg_color,0.7);
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  border-radius: 0px;
  box-shadow: 1px 1px shade(@button_bg_color, 0.3) inset, -1px -1px @theme_bg_color inset; 
}


/* FRAMES */

.frame {
  background: none; }

frame > border {
border: 1px solid shade(@bg_color, 0.7);
}

frame.border-inset > border {
    border-width: 1px;
    border-style: solid;
    border-color: shade(@theme_bg_color, 0.7);
    box-shadow: 1px 1px @borders inset;
    border-radius: 0;
}

frame.border-outset > border {
    border-width: 1px;
    border-style: solid;
    border-color: shade(@theme_bg_color, 0.7);
    border-bottom: 1px solid @borders;
    border-right: 1px solid @borders;
    box-shadow: -1px -1px shade(@bg_color, 0.7) inset;
    border-radius: 0;
}

frame.border-groove > border {
    border-width: 1px;
    border-style: solid;
    border-color: shade(@theme_bg_color, 0.7);
    border-radius: 0;
}

frame.border-ridge > border {
    border-width: 1px;
    border-style: solid;
    border-color: shade(@theme_bg_color, 0.7);
    border-radius: 0;
}


iconview:selected, iconview:selected:focus, iconview text:selected, iconview text selection, iconview text:selected:focus, iconview text selection:focus {
  border-width: 1px;
  border-style: solid;
  border-color: @theme_selected_bg_color;
  color: @theme_selected_fg_color;
  background-color: @theme_selected_bg_color; }
iconview:selected:backdrop, iconview selection:backdrop, iconview text:selected:backdrop, iconview text selection:backdrop {
  color: @theme_unfocused_selected_fg_color;
  background-color: @theme_unfocused_selected_bg_color; }

rubberband, flowbox rubberband, treeview.view rubberband, .content-view rubberband, .rubberband, view rubberband, .view.rubberband, .rubberband {
  border-width: 1px;
  border-style: solid;
  border-color: @theme_selected_bg_color;
  background: none;
  background-color: alpha(@theme_selected_bg_color, 0.3); }

flowbox flowboxchild {
  padding: 3px;
  border-radius: 0px; }
  flowbox flowboxchild:selected {
    outline-offset: -2px;
    color: @theme_selected_fg_color;
    background-color: @theme_selected_bg_color; }

/*
infobar {
  border: none; }

.info {
  border-width: 1px;
  border-style: solid;
  border-color: shade(@info_bg_color, 0.8);
  color: @info_fg_color;
  background-image: none;
  background-color: @info_bg_color; }
  .info button {
    border-color: shade(@info_bg_color, 0.8);
    color: @info_fg_color;
    background-image: none;
    background-color: shade(@info_bg_color, 1.08); }
    .info button:hover {
      border-color: shade(@info_bg_color, 0.85);
      background-color: shade(@info_bg_color, 1.1); }
    .info button:active {
      border-color: shade(@info_bg_color, 0.6);
      background-color: shade(@info_bg_color, 0.95); }
      .info button:active:hover {
        border-color: shade(@info_bg_color, 0.85); }
    .info button.close {
      color: @info_fg_color; }
      .info button.close:hover {
        background-color: alpha(@light_shadow, 0.2); }
      .info button.close:active {
        color: @info_fg_color;
        background-color: alpha(@dark_shadow, 0.1); }

.warning {
  border-width: 1px;
  border-style: solid;
  border-color: shade(@warning_bg_color, 0.8);
  color: @warning_fg_color;
  background-image: none;
  background-color: @warning_bg_color; }
  .warning button {
    border-color: shade(@warning_bg_color, 0.8);
    color: @warning_fg_color;
    background-image: none;
    background-color: shade(@warning_bg_color, 1.08); }
    .warning button:hover {
      border-color: shade(@warning_bg_color, 0.85);
      background-color: shade(@warning_bg_color, 1.1); }
    .warning button:active {
      border-color: shade(@warning_bg_color, 0.6);
      background-color: shade(@warning_bg_color, 0.95); }
      .warning button:active:hover {
        border-color: shade(@warning_bg_color, 0.85); }
    .warning button.close {
      color: @warning_fg_color; }
      .warning button.close:hover {
        background-color: alpha(@light_shadow, 0.2); }
      .warning button.close:active {
        color: @warning_fg_color;
        background-color: alpha(@dark_shadow, 0.1); }

.question {
  border-width: 1px;
  border-style: solid;
  border-color: shade(@question_bg_color, 0.8);
  color: @question_fg_color;
  background-image: none;
  background-color: @question_bg_color; }
  .question button {
    border-color: shade(@question_bg_color, 0.8);
    color: @question_fg_color;
    background-image: none;
    background-color: shade(@question_bg_color, 1.08); }
    .question button:hover {
      border-color: shade(@question_bg_color, 0.85);
      background-color: shade(@question_bg_color, 1.1); }
    .question button:active {
      border-color: shade(@question_bg_color, 0.6);
      background-color: shade(@question_bg_color, 0.95); }
      .question button:active:hover {
        border-color: shade(@question_bg_color, 0.85); }
    .question button.close {
      color: @question_fg_color; }
      .question button.close:hover {
        background-color: alpha(@light_shadow, 0.2); }
      .question button.close:active {
        color: @question_fg_color;
        background-color: alpha(@dark_shadow, 0.1); }

.error {
  border-width: 1px;
  border-style: solid;
  border-color: shade(@error_bg_color, 0.8);
  background-color: @error_bg_color;
  background-image: none;
  color: @error_fg_color; }
  .error button {
    border-color: shade(@error_bg_color, 0.8);
    color: @error_fg_color;
    background-image: none;
    background-color: shade(@error_bg_color, 1.08); }
    .error button:hover {
      border-color: shade(@error_bg_color, 0.85);
      background-color: shade(@error_bg_color, 1.1); }
    .error button:active {
      border-color: shade(@error_bg_color, 0.6);
      background-color: shade(@error_bg_color, 0.95); }
      .error button:active:hover {
        border-color: shade(@error_bg_color, 0.85); }
    .error button.close {
      color: @error_fg_color; }
      .error button.close:hover {
        background-color: alpha(@light_shadow, 0.2); }
      .error button.close:active {
        color: @error_fg_color;
        background-color: alpha(@dark_shadow, 0.1); }
*/
image {
  color: alpha(currentColor, 0.75); }
  image:hover {
    color: alpha(currentColor, 0.9); }
  image:selected, image:selected:hover {
    color: @theme_selected_fg_color; }
  view image, view image:hover {
    color: alpha(currentColor, 0.9); }
  view image:selected, view image:selected:hover {
    color: @theme_selected_fg_color; }

.floating-bar {
  border-width: 1px;
  border-style: solid;
  border-color: @borders;
  border-radius: 0px;
  background-color: @theme_bg_color;
  color: @theme_fg_color; }
  .floating-bar.top {
    border-top-width: 0px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px; }
  .floating-bar.bottom {
    border-bottom-width: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px; }
  .floating-bar.top.left, .floating-bar.bottom.left {
    border-left-width: 0px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px; }
  .floating-bar.top.right, .floating-bar.bottom.right {
    border-right-width: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px; }
  .floating-bar button {
    border-style: none;
    background-color: transparent; }

scrolledwindow.frame {
  background-color: @theme_base_color;
}


paned > scrolledwindow, box > scrolledwindow, overlay > scrolledwindow, notebook > * > scrolledwindow,
paned > * > notebook > stack > * > scrolledwindow, viewport > grid > scrolledwindow {
  padding: 1px;
  margin: 0px;
  border-color: @borders;
  border: 1px solid shade(@theme_bg_color,0.7);
  border-bottom: 1px solid @light_shadow;
  border-right: 1px solid @light_shadow;
  border-radius: 0px;
  box-shadow: 1px 1px @borders inset, -1px -1px @theme_bg_color inset;
  background-color: @theme_base_color;
}

combobox arrow {
  background-image: url("assets/combo.png");
  background-position: center;
  min-height: 14px;
  min-width: 14px; }

combobox arrow:disabled {
  background-image: url("assets/combo.png");
  background-position: center;
  min-height: 14px;
  min-width: 14px; }

combobox button {
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 1px;
  padding-top: 1px;
  margin-top: 2px;
  margin-bottom: 2px;
}

combobox entry {
margin-right: -23px;
}

combobox entry:disabled {
background-color: @bg_color;
color: shade(@bg_color, 0.7);
}

arrow {
  color: alpha(currentColor, 0.75);
  -gtk-icon-source: -gtk-icontheme("pan-down-symbolic");
  min-height: 17px;
  min-width: 17px; }

button.circular, button.circular-button {
  padding: 0;
  min-width: 16px;
  min-height: 24px;
  padding: 2px 6px;
  border-radius: 50%;
  -gtk-outline-radius: 50%; }

.menu, menu {
    padding: 2px;
    border-top: 1px solid @bg_color;
    border-bottom: 1px solid @borders;
    border-left: 1px solid @bg_color;
    border-right: 1px solid @borders;
    box-shadow: inset 1px 1px @light_shadow, inset -1px -1px shade(@bg_color, 0.7);
    background-color: @theme_bg_color;
    color: @fg_color;
}


menu menuitem {
    margin: 2px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
}

menuitem:active,
menuitem:hover {
    background-color: @theme_selected_bg_color;
    color: @theme_selected_fg_color;
}

menuitem:disabled {
    color: @disabled_fg_color;
    text-shadow: 1px 1px @light_shadow;
}

/* menu arrows */
menu > arrow, .menu > arrow {
    padding: 4px;
    min-width: 16px;
    min-height: 16px; }
menu > arrow.top, .menu > arrow.top {
      -gtk-icon-source: -gtk-icontheme("pan-up-symbolic"); }
    menu > arrow.bottom, .menu > arrow.bottom {
      margin-bottom: -6px;
      -gtk-icon-source: -gtk-icontheme("pan-down-symbolic"); }

   menu menuitem arrow:dir(ltr), .menu menuitem arrow:dir(ltr) {
      margin-left: 10px;
      -gtk-icon-source: url("assets/menu-arrow-right.png"); }

menubar, .menubar {
  -GtkWidget-window-dragging: true;
  margin: 0;
  padding: 1px;
  margin-bottom: 0;
  background-color: @toolbar_bg_color; 
        border-top: 2px solid;
        border-bottom: 2px solid;
        border-right: 2px solid;
        border-left: 7px solid;
        border-image: url("assets/toolbar.png");
        border-image-slice: 2 2 2 7;
  background-color: @menubar_bg_color;
  color: @menubar_fg_color; }

menubar > menuitem, .menubar > menuitem {
  margin: 0px;
  padding: 4px 6px;
  border: none;
  color: @menubar_fg_color;
  background-color: transparent; }
  menubar > menuitem:hover, .menubar > menuitem:hover {
      color: @menubar_fg_color;
      border-color: @menubar_bg_color;
      background-color: @button_bg_color;
      background-image: none;
      box-shadow: inset 1px 1px shade(@button_bg_color, 0.65), inset -1px -1px @light_shadow; 
}

  menubar > menuitem:disabled, .menubar > menuitem:disabled {
    color: @theme_disabled_fg_color;
    background-color: transparent; }

menuitem accelerator {
  color: alpha(currentColor, 0.55); }
  menuitem accelerator:hover {
    color: alpha(@theme_selected_fg_color, 0.8); }
  menuitem accelerator:disabled {
    color: @theme_disabled_fg_color; }

notebook button.flat {
  border-color: transparent;
  border-radius: 2px;
  color: @theme_fg_color;
  box-shadow: none;
  background-color: transparent; }
notebook button.flat:hover {
  border-color: transparent;
  border-radius: 2px;
  color: @theme_fg_color;
  box-shadow: none;
  background-color: transparent; }
notebook button.flat:active {
  border-color: transparent;
  border-radius: 2px;
  color: @theme_fg_color;
  box-shadow: none;
  background-color: transparent; }
notebook button.flat:disabled {
    border-color: transparent;
    color: alpha(@theme_fg_color, 0.8);
    background-color: transparent; }

notebook {
  padding: 0; }
  notebook.frame {
    margin-top: 2px;
    border-color: @borders; }
    notebook.frame > header {
      margin: -1px; }
      notebook.frame > header.top {
        border:none;
        margin-left: 0px;
        margin-right: 1px;
        margin-bottom: 0px; }
      notebook.frame > header.bottom {
        margin-left: 0px;
        margin-right: 1px;
        margin-top: 0px; }
      notebook.frame > header.left {
        margin-top: 1px;
        margin-right: 0px; }
      notebook.frame > header.right {
        margin-top: 0px;
        margin-left: 0px; }
      notebook.frame > header.top, notebook.frame > header.bottom {
        padding-left: 0;
        padding-right: 0; }
      notebook.frame > header.left, notebook.frame > header.right {
        padding-top: 0;
        padding-bottom: 0; }

  notebook > stack:not(:only-child) {
   margin: 0px;
   border: 1px solid @borders;
   border-top: 1px solid @light_shadow;
   border-left: 1px solid @light_shadow;
   padding: 4px;
   background-color: @notebook_bg_color;
   box-shadow: inset -1px -1px shade(@button_bg_color, 0.65) ;  }

  notebook tab {
    padding: 1px;
    border-style: solid;
    border-radius: 0;
    border-color: transparent;
    color: @theme_fg_color;
    background-color: @notebook_bg_color;
    outline-width: 0; }
    notebook tab:checked {
      color: @theme_fg_color;
      border-color: @borders;
      background-color: @notebook_bg_color; }
    notebook tab button, notebook tab button:hover, notebook tab button:focus, notebook tab button:active, notebook tab button:checked, notebook tab button:active:hover, notebook tab button:checked:hover, notebook tab button:backdrop, notebook tab:checked button, notebook tab:checked button:hover, notebook tab:checked button:focus, notebook tab:checked button:active, notebook tab:checked button:checked, notebook tab:checked button:active:hover, notebook tab:checked button:checked:hover, notebook tab:checked button:backdrop {
      border-color: transparent;
      background-color: transparent;
      color: @theme_fg_color; }
  notebook > header {
    background-color: @theme_bg_color; }

      notebook > header.top > tabs > tab {
        border-width: 5px 5px 2px 5px;
        border-image: url("assets/tab-top.png");
        border-image-slice: 5 5 2 5; }
        notebook > header.top > tabs > tab:checked {
          margin-bottom: -1px;
          border-image: url("assets/tab-top-active.png");
          border-image-slice: 5 5 2 5; }

      notebook > header.bottom > tabs > tab {
        border-width: 2px 5px 5px 5px;
        border-image: url("assets/tab-bottom.png");
        border-image-slice: 2 5 5 5; }
        notebook > header.bottom > tabs > tab:checked {
          margin-top: -2px;
          border-image: url("assets/tab-bottom-active.png");
          border-image-slice: 2 5 5 5; }

      notebook > header.right > tabs > tab {
        border-width: 4px 8px 6px 0px;
        border-image: url("assets/tab-right.png");
        border-image-slice: 4 8 6 0; }
        notebook > header.right > tabs > tab:checked {
          margin-left: -2px;
          border-image: url("assets/tab-right-active.png");
          border-image-slice: 4 8 6 0; }

      notebook > header.left > tabs > tab {
        border-width: 4px 0 6px 8px;
        border-image: url("assets/tab-left.png");
        border-image-slice: 4 0 6 8; }
        notebook > header.left > tabs > tab:checked {
          margin-right: -1px;
          border-image: url("assets/tab-left-active.png");
          border-image-slice: 4 0 6 8; }


paned > separator {
  border: none;
  color: transparent;
  min-width: 3px;
  min-height: 1px;
  background-color: transparent; }
  paned > separator:backdrop {
  min-width: 3px;
  min-height: 1px;
  background-color: transparent; }
  paned > separator:selected {
  min-width: 3px;
  min-height: 1px;
  background-color: transparent; }


.overlay-bar {
  background-color: alpha(@dark_shadow, 0.8);
  border-radius: 0;
  padding: 3px 6px;
  margin: 3px; }
  .overlay-bar label {
    color: @tooltip_fg_color; }

progressbar {
  padding: 0;
  border: none;
  color: mix(@theme_fg_color, @theme_selected_fg_color, 0.5);
  background-color: transparent; }
  progressbar progress {
    border: none;
    border-radius: 0px;
    background-color: @theme_selected_bg_color; }
  progressbar trough {
  padding: 1px;
  border: 1px solid shade(@theme_bg_color,0.7);
  border-bottom: 1px solid @light_shadow;
  border-right: 1px solid @light_shadow;
  border-radius: 0px;
  box-shadow: 1px 1px shade(@button_bg_color, 0.3) inset, -1px -1px @theme_bg_color inset;
    background-color: @theme_base_color; }
  progressbar.horizontal trough, progressbar.horizontal progress {
    min-height: 18px; }
  progressbar.vertical trough, progressbar.vertical progress {
    min-width: 18px; }


scale {
  min-height: 6px;
  min-width: 10px;
  padding: 12px; }
  scale fill, scale trough {
    border-top: 1px solid shade(@bg_color, 0.7);
    border-left: 1px solid shade(@bg_color, 0.7);
    border-right: 1px solid @light_shadow;
    border-bottom: 1px solid @light_shadow;
    border-radius: 0;
    background-color: @borders;
    outline-offset: 2px;
    -gtk-outline-radius: 0; }
    scale fill:disabled, scale trough:disabled {
      background-color: alpha(@dark_shadow, 0.05); }

  scale slider {
    border-radius: 0;
    color: @theme_selected_fg_color;
    background-color: @bg_color;
    border-top: 1px solid @bg_color;
    border-left: 1px solid @bg_color;
    border-right: 1px solid @borders;
    border-bottom: 1px solid @borders;
    background-clip: padding-box;
    background-color: @button_bg_color;
    box-shadow: inset -1px 0 shade(@button_bg_color, 0.65), inset 0 -1px shade(@button_bg_color, 0.65), inset 1px 0 @light_shadow, inset 0 1px @light_shadow;
}
 
  scale.vertical slider {
    margin-left: -11px;
    margin-right: -11px;
    min-height: 10px;
    min-width: 21px;
}

  scale.horizontal slider {
    margin-top: -11px;
    margin-bottom: -11px;
    min-height: 21px;
    min-width: 10px;
}

scrollbar {
  border: 0px solid @borders;
  background-color: @bg_color;
  background-image: url("assets/scrollbg.png");
}
  scrollbar trough {
    border: none;
    border-radius: 0; }
  scrollbar button, scrollbar button:backdrop, scrollbar button:active, scrollbar button:active:backdrop, scrollbar button:disabled, scrollbar button:disabled:backdrop {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0;
    border-radius: 0;
    background-image: none;
    background-size: 100% 100%;

    color: transparent; }
  scrollbar.overlay-indicator {
    opacity: 1; }
  scrollbar.horizontal slider {
    min-width: 45px;
    min-height: 15px;
    margin: 0px;
    border-top: 1px solid @bg_color;
    border-left: 1px solid @bg_color;
    border-right: 1px solid @borders;
    border-bottom: 1px solid @borders;
    border-radius: 0px;
    background-clip: padding-box;
    background-color: @button_bg_color;
    box-shadow: inset -1px 0 shade(@button_bg_color, 0.65), inset 0 -1px shade(@button_bg_color, 0.65), inset 1px 0 @light_shadow, inset 0 1px @light_shadow;}
  scrollbar.horizontal button {
    min-height: 15px;
    min-width: 15px;
    background-color: @bg_color;
    border-top: 1px solid @bg_color;
    border-left: 1px solid @bg_color;
    border-right: 1px solid @borders;
    border-bottom: 1px solid @borders; 
    box-shadow: inset -1px 0 shade(@button_bg_color, 0.65), inset 0 -1px shade(@button_bg_color, 0.65), inset 1px 0 @light_shadow, inset 0 1px @light_shadow;
}
     scrollbar.horizontal button.down {
      background-image: url("assets/arrow-right.png"); }
    scrollbar.horizontal button.up {
      background-image: url("assets/arrow-left.png"); }
      scrollbar.horizontal button.down:active {
        border: 1px solid shade(@bg_color, 0.7);
        box-shadow: none;
 }
      scrollbar.horizontal button.up:active {
        border: 1px solid shade(@bg_color, 0.7); 
        box-shadow: none;
}
  scrollbar.vertical slider {
    min-width: 15px;
    min-height: 45px;
    margin: 0px;
    border-top: 1px solid @bg_color;
    border-left: 1px solid @bg_color;
    border-right: 1px solid @borders;
    border-bottom: 1px solid @borders;
    border-radius: 0px;
    background-clip: padding-box;
    background-color: @button_bg_color;
    box-shadow: inset -1px 0 shade(@button_bg_color, 0.65), inset 0 -1px shade(@button_bg_color, 0.65), inset 1px 0 @light_shadow, inset 0 1px @light_shadow; }
  scrollbar.vertical button {
    min-height: 15px;
    min-width: 15px; 
    background-color: @bg_color;
    border-top: 1px solid @bg_color;
    border-left: 1px solid @bg_color;
    border-right: 1px solid @borders;
    border-bottom: 1px solid @borders; 
    box-shadow: inset -1px 0 shade(@button_bg_color, 0.65), inset 0 -1px shade(@button_bg_color, 0.65), inset 1px 0 @light_shadow, inset 0 1px @light_shadow;
}

      scrollbar.vertical button.down:active {
        border: 1px solid shade(@bg_color, 0.7); 
        box-shadow: none;
}

      scrollbar.vertical button.up:active {
        border: 1px solid shade(@bg_color, 0.7); 
        box-shadow: none;
}

    scrollbar.vertical button.down {
      background-image: url("assets/arrow-down.png"); }
    scrollbar.vertical button.up {
      background-image: url("assets/arrow-up.png"); }
  treeview scrollbar.vertical {
    border-top: 1px solid @borders;
    margin-top: -1px; }

separator, separator:backdrop {
  -gtk-icon-source: none;
  min-width: 1px;
  min-height: 1px;
  box-shadow: 1px 1px @light_shadow;
  background-color: shade(@bg_color, 0.7); }

  button separator {
    margin: 1px 1px; }


  toolbar separator {
    margin-left: 2px;
    margin-right: 2px;
    border: none;
    box-shadow: 1px 0px @light_shadow;
    background-color: shade(@toolbar_bg_color, 0.5); }
  toolbar separator:backdrop {
    border: none;
    box-shadow: 1px 0px @light_shadow;
    background-color: shade(@toolbar_bg_color, 0.5); }


  menuitem separator, menu separator {
    margin: 2px;
    margin-left: 8px;
    margin-right: 8px;
    border-width: 1px;
    border-style: none;
    box-shadow: 0px 1px @light_shadow;
    background-color: shade(@bg_color, 0.7); }
  popover separator {
    margin: 2px;
    margin-left: 4px;
    margin-right: 4px;
    border-width: 1px;
    border-style: none;
    box-shadow: 0px 1px @light_shadow;
}
  combobox separator {
    border: none; }

/*
button.sidebar-button, button.sidebar-button:backdrop {
  min-width: 22px;
  min-height: 22px;
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 0;
  border-radius: 100%;
  color: @sidebar_fg_color;
  -gtk-outline-radius: 100%; }
*/


button.sidebar-button:hover, button.sidebar-button:active {
  color: @theme_fg_color; }
button.sidebar-button:not(:hover):not(:active) > image {
  opacity: 0.5; }

spinbutton {
color: @theme_text_color;
}

spinbutton:not(.vertical) selection, spinbutton:not(.vertical) selection:focus {
  color: @theme_selected_fg_color;
  background-color: @theme_selected_bg_color; }
spinbutton button:disabled, spinbutton entry:disabled {
  color: @theme_disabled_fg_color; }
  spinbutton button:disabled:backdrop, spinbutton entry:disabled:backdrop {
    color: @theme_unfocused_disabled_fg_color; }

spinbutton.horizontal entry {
margin-right: -47px;
padding-right: 47px;
}

spinbutton.vertical entry {
margin-top: 2px;
margin-bottom: 1px;
}

spinbutton.horizontal button.down {
margin-left: 9px;
margin-top: 2px;
margin-bottom: 1px;
padding: 0px;
}

spinbutton.horizontal button.up {
margin-top: 2px;
margin-bottom: 1px;
padding: 0px;
}

spinbutton.vertical button.up {
padding: 1px;
margin-left: -1px;
margin-right: -1px;
}

spinbutton.vertical button.down {
padding: 1px;
margin-left: -1px;
margin-right: -1px;
}

statusbar {
  padding: 1px;
  color: @theme_fg_color; }
  statusbar frame > border {
    margin: 0px;status
    border: 1px solid shade(@bg_color, 0.7);
    border-bottom: 1px solid @light_shadow;
    border-right: 1px solid @light_shadow;
 }

switch {
  min-width: 100px;
  min-height: 24px;
  color: transparent;
  outline-offset: -4px;
  background-color: transparent;
  background-image: url("assets/switch.png");
}
  switch:checked {
  min-width: 100px;
  min-height: 24px;
  color: transparent;
  outline-offset: -4px;
  background-color: transparent;
  background-image: url("assets/switch_checked.png");
}
  switch:checked :disabled {
  min-width: 100px;
  min-height: 24px;
  color: transparent;
  outline-offset: -4px;
  background-color: transparent;
  background-image: url("assets/switch_checked_disabled.png");
}
  switch:disabled {
  color: transparent;
  outline-offset: -4px;
  background-color: transparent;
  background-image: url("assets/switch_disabled.png");
 }

  switch slider {
  background-color: transparent;
}

  switch:disabled slider {
  background-color: transparent;
}



headerbar, headerbar:not(.titlebar) {
  padding: 4px 8px;
  border-width: 0;
  border-style: solid;
  border-color: mix(@borders, @headerbar_bg_color, 0.5);
  border-bottom-width: 1px;
  box-shadow: 0 0px @borders;
  color: @headerbar_fg_color;
  background-color: @headerbar_bg_color; }

toolbar {
  padding: 2px;
  margin-top: -2px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  color: @toolbar_fg_color;
  background-color: @toolbar_bg_color; 
        border-top: 2px solid;
        border-bottom: 2px solid;
        border-right: 2px solid;
        border-left: 7px solid;
        border-image: url("assets/toolbar.png");
        border-image-slice: 2 2 2 7;
}

  toolbar:disabled {
    color: @theme_disabled_fg_color;
    background-color: @theme_disabled_bg_color; }
  toolbar button {
      margin: 1px;
  }
 toolbar button.flat {
  outline-color: transparent;
  margin: 0px;
  border: transparent 1px solid;
  border-radius: 0px;
  color: @theme_fg_color;
  box-shadow: none;
  background-color: transparent; }
    toolbar button.flat:hover {
      color: @toolbar_fg_color;
  border-color: @button_bg_color;
      background-color: @button_bg_color;
      box-shadow: inset -1px -1px shade(@button_bg_color, 0.65), inset 1px 1px @light_shadow; }
    toolbar button.flat:active {
      color: @toolbar_fg_color;
  border-color: @button_bg_color;
      background-color: @button_bg_color;
      background-image: none;
      box-shadow: inset 1px 1px shade(@button_bg_color, 0.65), inset -1px -1px @light_shadow; }
    toolbar button.flat:checked {
      border-top: 1px solid shade(@button_bg_color, 0.7);
      border-left: 1px solid shade(@button_bg_color, 0.7);
      border-bottom: 1px solid @light_shadow;
      border-right: 1px solid @light_shadow;
      box-shadow: -1px -1px @button_bg_color inset;
      background-image: url("assets/scrollbg.png");
      color: @toolbar_fg_color;
      background-color: @button_bg_color;
      }
    toolbar button.flat:disabled {
  border-color: transparent;
  border-radius: 2px;
  color: @theme_fg_color;
  box-shadow: none;
  background-color: transparent; }

  toolbar menubar {
    -GtkToolbar-button-relief: normal; }

.primary-toolbar {
  padding: 2px;
  margin-top: -2px;
  margin-left: 0px;
  margin-right: 0px;
  border-left: 7px solid;
  border-right: 2px solid;
  border-bottom: 2px solid;
  border-top: 2px solid;
  color: @toolbar_fg_color;
  -GtkWidget-window-dragging: true;
  color: @toolbar_fg_color;
  background-color: @toolbar_bg_color; 
        border-left: 7px solid;
        border-image: url("assets/toolbar.png");
        border-image-slice: 2 2 2 7; 
}


  .primary-toolbar button {
  outline-color: transparent;
  border: 1px solid transparent;
  border-radius: 0px;
  color: @theme_fg_color;
  box-shadow: none;
}

.primary-toolbar .raised button {
 border-color: transparent;
  border-radius: 0px;
  color: @theme_fg_color;
  box-shadow: none;
}
    .primary-toolbar button:active, .primary-toolbar .raised button:hover {
      color: @toolbar_fg_color;
  border-color: @button_bg_color;
      background-color: @button_bg_color;
      background-image: none;
      box-shadow: inset 1px 1px @light_shadow, inset -1px -1px shade(@button_bg_color, 0.65); }
    .primary-toolbar button:active, .primary-toolbar .raised button:active {
      color: @toolbar_fg_color;
  border-color: @button_bg_color;
      background-color: @button_bg_color;
      background-image: none;
      box-shadow: inset 1px 1px shade(@button_bg_color, 0.65), inset -1px -1px @light_shadow; }
    .primary-toolbar button:checked, .primary-toolbar .raised button:checked {
      border-top: 1px solid shade(@button_bg_color, 0.7);
      border-left: 1px solid shade(@button_bg_color, 0.7);
      border-bottom: 1px solid @light_shadow;
      border-right: 1px solid @light_shadow;
      box-shadow: -1px -1px @button_bg_color inset;
      background-image: url("assets/scrollbg.png");
      color: @toolbar_fg_color;
      background-color: @button_bg_color;
      }
      .primary-toolbar button:checked:disabled, .primary-toolbar .raised button:checked:disabled {
 border-color: transparent;
  border-radius: 0px;
  color: @theme_fg_color;
  box-shadow: none;
}
    .primary-toolbar button:disabled, .primary-toolbar .raised button:disabled {
      color: mix(@toolbar_fg_color, @theme_unfocused_disabled_fg_color, 0.5); }

.linked button, .linked .raised button {
margin-left: 1px;
 }

.vertical.linked button {
margin-left: 1px;
}


tooltip {
  border-radius: 0px;
  box-shadow: none; }
  tooltip.background {
    border-width: 1px;
    border-style: solid;
    border-color: @borders;
    background-color: @tooltip_bg_color; }
    tooltip.background label {
      padding: 1px; }
  tooltip * {
    background-color: transparent;
    color: @tooltip_fg_color; }

treeview {
  background-color: @base_color;
  color: @fg_color;
  -treeview-vertical-separator: 0; }
  treeview.view:selected, treeview.view:selected:focus {
    color: @theme_selected_fg_color;
    background-color: @theme_selected_bg_color; }
  treeview header button {
    border-width: 0 1px 1px 0;
    border-radius: 0;
    box-shadow: none; }
    treeview header button, treeview header button:active, treeview header button:focus, treeview header button:active:focus {
      box-shadow: none;
      background-image: none;
      background-color: @button_bg_color; }
    treeview header button:hover, treeview header button:active:hover, treeview header button:hover:focus, treeview header button:active:hover:focus {
      box-shadow: none;
      color: @theme_fg_color;
      background-color: @button_bg_color; }
  treeview header:last-child button {
    padding: 4px;
    margin-top: -1px;
    border-right: 1px solid @borders;
    border-bottom:1px solid @borders;
    border-top: 1px solid @borders;
    box-shadow: 1px 1px @light_shadow inset, -1px -1px shade(@theme_bg_color, 0.7) inset;
/*    border-image: url("assets/header.png");
    border-image-slice: 4 4 4 4;
    border-width: 4px 4px 4px 4px;
*/
}

.view {
     color: @theme_text_color;
}
  .view:not(treeview) {
     color: @theme_text_color;
     caret-color: @theme_text_color;
     background-color: @theme_base_color;
    border-radius: 0px;
}

  .view:disabled {
    color: @theme_disabled_fg_color;
    background-color: @theme_disabled_bg_color; }
  .view:selected, .view:selected:focus, .view text:selected, .view text:selected:focus, .view text selection, .view text selection:focus {
    color: @theme_selected_fg_color;
    background-color: @theme_selected_bg_color; }
    .view:selected:disabled, .view:selected:focus:disabled, .view text:selected:disabled, .view text:selected:focus:disabled, .view text selection:disabled, .view text selection:focus:disabled {
      color: mix(@theme_selected_fg_color, @theme_disabled_fg_color, 0.5);
      background-color: @theme_selected_bg_color; }
    .view:selected:backdrop, .view:selected:focus:backdrop, .view text:selected:backdrop, .view text:selected:focus:backdrop, .view text selection:backdrop, .view text selection:focus:backdrop {
      color: @theme_unfocused_selected_fg_color;
      background-color: @theme_unfocused_selected_bg_color; }


.titlebar, .titlebar:not(headerbar), headerbar.default-decoration, .csd headerbar.default-decoration, .default-decoration.titlebar:not(headerbar), .csd .default-decoration.titlebar:not(headerbar) {
  min-height: 26px;
  margin-bottom: 2px;
  color: @toolbar_fg_color;
  background-color: @toolbar_bg_color; 
        border-top: 2px solid;
        border-bottom: 2px solid;
        border-right: 2px solid;
        border-left: 7px solid;
        border-image: url("assets/toolbar.png");
        border-image-slice: 2 2 2 7; 
        box-shadow: 0px 2px @toolbar_bg_color;
  background-color: @toolbar_bg_color; }
